@keyframes exemplo {
    0% {color: #4D4645;}  
    25% {color: #94998A;}  
    50% {color: #325239;}  
    75% {color: #8A8F99;}  
    100% {color: #3D4350;}  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    background: #E5E5E5;
}

/* Parte de cima do conteúdo (Navegador) */

.topo {
    height: 30px;
    background-image: linear-gradient(to right, #3D4D42, #4D4545, #E5E5E5, #999999);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.438);
}

.topoint {
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}

.topoleft {
    width: 50%;
    height: 30px;
    float: left;
}

.topoleft ul {
    list-style: none;
}

.topoleft li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.topoleft li a {
    text-decoration: none;
    color: #fff;
}

.topodireito {
    width: 50%;
    height: 28px;
    float: right;
    text-align: right;
    margin-top: 2px;
}

.topodireito img {
    border: 0;
    height: 26px;
    width: 26px;
    margin-right: 4px;
}

.topodireito input {
    border: 0;
    height: 26px;
    width: 26px;
    float: right;
}

.topodireito .topobusca{
    border: 0;
    height: 26px;
    width: 110px;
    outline: 0;
}

.topodireito a {
    float: right;
}

.topo2 {
    height: 95px;
}

.topo2int {
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}

.logo {
    display: flex;
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 230px;
    height: 90px;
    float: left;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 5px;
    animation-name: exemplo;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.topo2 .banner {
    display: flex;
    font-size: 25px;
    width: 650px;
    height: 80px;
    margin-top: 7px;
    float: right;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
}

/* MenuDropDown */

.menu {
    background-image: linear-gradient(to right,#3D4D42, #4D4545, #e5e5e5bd);
    height: 40px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.438);

}

.menuint {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.menuint ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menuint li {
    height: 40px;
    line-height: 40px;
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
}

.menuint li:hover .submenu {
    display: block;
}

.menuint a {
    text-decoration: none;
    color: #FFF;
}

.submenu {
    height: 150px;
    width: 150px;
    position: absolute;
    display: none;
    background-image: linear-gradient(90deg,#3D4D42, #4D4545);
}

.submenuitem {
    width: 140px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    color: #FFF;
}

.submenuitem:hover {
    background-color: #79554dd3;
    width: 100%;
    opacity: 0.6;
    transition: 0.3s;
}

.menuint li img {
    width: 10px;
    border: 0;
}

/* Noticias */

.ultimasnoticias {
    height: 40px;
}

.ultimasnoticiasint {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin: auto;
}

.ultnoticiasarea {
    height: 28px;
    background-color: rgba(255, 255, 255, 0.589);
    border: 1px solid black;
    margin-top: 10px;
}

.ultnoticiastitulo {
    background-color: #4d4545d5;
    color: #FFF;
    height: 26px;
    line-height: 28px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: bold;
    border-right: 1px solid black;
}

.ultnoticiasnoticia a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}
.ultnoticiasnoticia {
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 5px;
}

/* Inicio do Conteiner */

.conteinerint {
    width: 100%;
    max-width: 1040px;
    margin: auto;
    background-color: #FFF;
}

.leftside {
    width: 753px;
    float: left;
}

.rigthside {
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;
}

.widget {
    background-color: #fff;
    border: 1px solid black;
    margin-bottom: 10px;
}

.widget_titulo {
    height: 30px;
    line-height: 30px;
    background-color: #3D4D42;
    color: #E5E5E5;
    border-bottom: 1px solid black;
    padding-left: 5px;
    font-size: 14px;
}

.widget_conteudo {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.noticias_item {
    font-size: 14px;
    margin: 0px 10px;
    padding: 10px 0px;
    text-align: left;
    border-bottom: 1px solid #CCC;
}
.noticias_item a {
    text-decoration: none;
    color: #000;
}

.slideshow {
    height: 335px;
    background-color: #DDD;
    overflow: hidden;
    margin-bottom: 20px;
}

.slideshowarea {
    width: 100000px;
    height: 335px;
    transition: all 0.8s;
}

.slide {
    height: 335px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slideinfo {
    height: 70px;
    background-image: url('../images/slideshow_bg.png');
    background-size: auto 70px;
    margin-top: 265px;
}

.slideinfo_titulo {
    font-size: 20px;
    color: #fff;
    padding-top: 15px;
    padding-left: 20px;
}

.slideinfo_subtitulo {
    font-size: 13px;
    color: #FFF;
    padding-left: 20px;
}

.sliderbolinhas {
    position: absolute;
    width: 200px;
    height: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.bolinha {
    width: 15px;
    height: 15px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 50%;
}

.noticiaarea1 {
    width: 430px;
    height: 420px;
    float: left;
}

.noticiaarea2 {
    width: 320px;
    height: 420px;
    float: left;
}

.noticiaitem{
    text-align: left;
    height: 88px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.noticiaimg {
    width: 88px;
    height: 88px;
    border: 1px solid #CCC;
    padding: 3px;
    float: left;
}

.noticiatitulo {
    float: left;
    margin-left: 6px;
    font-size: 16px;
    width: 226px;
}

.noticiainfo {
    font-size: 12px;
    margin-left: 6px;
    color: #999;
    width: 226px;
    float: left;
}

.noticiabig {
    margin-left: 10px;
}

.noticiabig .noticiaimg {
    width: 384px;
    height: 222px;
}
.noticiabig .noticiaimg img {
    width: 375px;
    height: 213px;
}

.noticiabig .noticiatitulo {
    font-size: 30px;
    width: 375px;
}